<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';

const addressBookStore = useAddressBookStore()
</script>

<template>
    <div style="text-align: center;">
            <button @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Add</button>
            <table>
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>gender</th>
                    <th>tel</th>
                    <th>Operation</th>
                </tr>
                <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.name }}</td>
                    <td>{{ ad.gender }}</td>
                    <td>{{ ad.tel }}</td>
                    <td>
                        <button @click="addressBookStore.edit(ad.id)">Edit</button>
                        <button @click="addressBookStore.remove(ad.id)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
</template>
<style scoped>
input,
select,
label,
button {
    font-family: 'Chakra Petch';
    font-size: 16px;
    margin: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: white}
tr:hover {background-color: rgb(34, 145, 189);}

th {
  background-color: black;
  color: white;
}
button {
  width: 40%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
    background-color: powderblue;
}
</style>