<script setup lang="ts">
// import { useAddressBookStore } from '@/stores/addressBookStore';
import addressBookForm from './AddressBookForm.vue'
import addressBookList from './AddressBookList.vue'
// const addressBookStore = useAddressBookStore()
</script>

<template>
    <div>
        <addressBookForm></addressBookForm>
        <addressBookList></addressBookList>
    </div>
</template>
<style scoped>
input,
select,
label,
button {
    font-family: 'Chakra Petch';
    font-size: 16px;
}
</style>