<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { ref } from 'vue';
import { nextTick } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['Hello','Im doing great','What are you doing?','I gotta go','LETS PARTY','Weeeeee']
function send(message:string){
    messages.value.push(message)
    answerBycom()
}
function answerBycom(){
    const answer = answers[Math.floor(Math.random() * 1000) % answers.length]
    messages.value.push(answer)
    nextTick(()=>{
        messageList.value?.updateUI()
    })
    
}
</script>

<template>
<div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox  @send="send"></MessageBox>
</div>
</template>
