<script setup lang="ts">
import { ref, defineExpose } from 'vue';

const msgList = ref<HTMLElement | null>(null)
const prop = defineProps<{
    messages:string[]
}>()
function updateUI(){
    console.log('updateUI');
    msgList.value!.scrollTop = msgList.value!.scrollHeight
}
defineExpose({ updateUI })
</script>
<template>
    <div ref="msgList" style="height: 500px;overflow-y: auto;">
        <div :class="{container:true, user:true, com: index % 2 === 1}" v-for="(msg,index) of messages" :key="index">
            {{ msg }}
        </div>
    </div>
</template>
<style scoped>
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 30px;
}
.user {
  border-color: black;
  background-color: white;
}
.com{
    border-color: palevioletred;
  background-color: pink;
}
</style>